* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 50%, rgba(255, 233, 233, 0.4)), url(../img/bg_1.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
}

body {
    font-family: 'OpenSans';
}

.header {
    margin: 0 auto;
}

.header__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.header__list {
    display: flex;
    gap: 3rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
    border-radius: 20px;
}

.header__item {
    padding: 18px 10px;
    position: relative;
}

.header__item::after {
    content: '';
    border-bottom: 3px solid red;
    display: block;
    transform: scaleX(0);
    transition: all 0.2s ease;
    padding-top: 20px;
    position: absolute;
    width: 100%;
    bottom: 12px;
    left: 0;
}

.header__item:hover::after {
    transform: scaleX(1);
}

.header__link--dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.header__link--dropdown:hover svg {
    transrotate: (180deg);
}

svg {
    width: 16px;
    stroke-width: 4.5px;
}

.header__link {
    text-decoration: none;
    color: #fff;
}